<!--
  This template was loaded because of the '/pet/:petId' route (app.js)
  'pet' is a $scope variable created in the PetCtrl controller (controllers.js)
  The PetCtrl pulls data from the Pets service (service.js)
  The Pets service returns an array of pet data
-->
<nav-page title="project.title">
  <content has-header="true" padding="true">
  	{{ project.description }}
    {{ project.due_date }}
    <h4>Tasks</h4>
  	<div ng-repeat="task in tasks">
			<p>{{task.id + 1}}: {{task.name}}</p>
  	</div>
  </content>
</nav-page>